/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

body {
	font-family: 'Nunito', sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	color: #3E3F43;
}

section {
	max-width: 1152px;
	/*border: 2px solid blue;*/
	margin: 0 auto;
	height: 950px;
}

		/*SECTION-HOME*/

/*header*/
.home__header {
	display: grid;
	grid-template-columns: 1fr 2fr;
	position: relative;
	/*border: 2px solid blue;*/
}
.home__background {
	position: absolute;
	width: 370px;
	height: 800px;
	left: 782px;
	top: 0px;
	background: #F9BDBD;
	border-bottom-left-radius: 100px;
	z-index: -1;
}
.header__logo {
	margin: 23px 115px 0 80px;
}
.nav__list {
	display: grid;
	grid-template-columns: repeat(6, auto);
	padding-top: 29px;
}
.nav__link {
	color: rgba(34, 34, 34, 0.75);
	line-height: 22px;
	font-weight: normal;	
}
.nav__link:hover {
	color: #2196f3;
}

.nav__link-active {
	font-weight: 800px;
	color: #DAA520;
}
.nav__link-active:hover {
	color: #DAA520;
}

.nav__link-sign {
	font-weight: bold;
	border: 1px solid #3E3F43;
	border-radius: 8px;
	padding: 8px 25px;
}
.nav__link-sign:hover {
	color: white;
	border: 1px solid #ffffff;
}

/* main */
.home__main {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.home__content {
	margin-left: 102px;
	margin-top: 161px;
}
.content__title {
	font-size: 36px;
	line-height: 49px;
	margin-bottom: 16px;
}
.content__subtitle {
	font-size: 72px;
	font-weight: bold;
	line-height: 98px;
	margin-bottom: 16px;
}
.content__button {
	width: 175px;
	background: #DAA520;
	padding: 14px 22px;
	border-radius: 4px;
}
.content__button_link {
	color: #ffffff;
	line-height: 22px;
	font-weight: bold;
}
.content__button_link:hover {
	color: black;
}
.content__photo {
	margin-top: 109px;
}

/*SECTION-ABOUT*/
.section__about {
	height: 1100px; 
}
/*header*/
.about__header {
	display: inline-grid;
	grid-template-columns: repeat(4, auto);
}
.about__logo {
	margin: 35px 0 0 100px;
}
.about__text {
	font-size: 36px;
	font-weight: bold;
	line-height: 49px;
	margin: 25px 14px 0 9px; 
}
.about__line {
	border: none;
	background-color: #000000;
	width: 316px;
	height: 1px;
	margin-top: 50px;
}
.about__title {
	font-size: 72px;
	line-height: 98px;
	color: rgba(34, 34, 34, 0.1);
	font-weight: 800;
}

/*main*/
.about__main {
	position: relative;
	display: grid;
}
.about__background {
	position: absolute;
	width: 278px;
	height: 388px;
	left: 100px;
	top: 68px;
	background: #F7DEA6;
	border-top-right-radius: 100px;
	border-bottom-left-radius: 100px;
	z-index: -1;
}
.about__content-1 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin: 147px 0 0 138px;
}
.about__content-2 {
	display: grid;
	grid-template-columns: repeat(2, auto);
	margin-top: 40px;
}
.content-1__text {
	margin: 0 50px 0 -50px;
}
.content-1__title {
	font-size: 36px;
	line-height: 49px;
}
.content-1__subtitle {
	font-size: 24px;
	line-height: 33px;
}

.content-2__text {
	margin: 127px 90px 0 102px
}
.content-2__title {
	font-size: 36px;
	line-height: 49px;
	margin-bottom: 16px;
}
.about__extra-bold {
	font-weight: 800;
}
.content-2__subtitle {
	font-size: 24px;
	line-height: 33px;
	font-weight: 600; 
}

/*SECTION-WORK*/
.section__work {
	height: 700px;
}
/*header*/
.work__header {
	display: inline-grid;
	grid-template-columns: repeat(4, auto);
}
.work__logo {
	margin: 35px 0 0 100px;
}
.work__text {
	font-size: 36px;
	font-weight: bold;
	line-height: 49px;
	margin: 25px 14px 0 9px;
}
.work__line {
	border: none;
	background-color: #000000;
	width: 65px;
	height: 1px;
	margin-top: 46px;
}
.work__title {
	font-size: 72px;
	line-height: 98px;
	color: rgba(34, 34, 34, 0.1);
	font-weight: 800;
}

/*main*/
.work__main{
	margin-top: 100px;
}
.items {
	display: grid;
	column-gap: 115px;
	grid-template-columns: repeat(4, 1fr);
	margin: 64px 168px 0 159px;
}
.items__text {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	margin: 24px 100px 0 100px;
}
.text {
	font-size: 24px;
	font-weight: bold;
	line-height: 33px;
	color: #000000;
	text-align: center;
}
.work__button {
	width: 212px;
	height: 50px;
	margin: 0 auto;
	margin-top: 64px;
	border-radius: 4px;
	background: #DAA520;
	padding: 14px 23px;
}
.work__button_link {
	font-size: 16px;
	line-height: 22px;
	font-weight: bold;
	color: #ffffff;
}
.work__button_link:hover {
	color: black;
}


/*SECTION-CATEGORIES*/
.section__categories{
	height: 1200px;
}
/*header*/
.categories__header {
	display: inline-grid;
	grid-template-columns: repeat(4, auto);
}
.categories__logo {
	margin: 35px 0 0 100px;
}
.categories__text {
	font-size: 36px;
	font-weight: bold;
	line-height: 49px;
	margin: 25px 14px 0 9px;
}
.categories__line {
	border: none;
	background-color: #000000;
	width: 202px;
	height: 1px;
	margin-top: 46px;
}
.categories__title {
	font-size: 72px;
	line-height: 98px;
	color: rgba(34, 34, 34, 0.1);
	font-weight: 800;
}

/*main*/
.categories__main{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin-left: 100px;
	margin-top: 60px;

}
.categories__text__item{
	font-weight: bold;
	font-size: 24px;
	line-height: 33px;
	margin-left: 25px;
	margin-top: 15px;
	height: 33px;
}
.categories__container{
	position: relative;
	display: grid;
	width: 300px;
	height: 400px;
	margin-top: 40px;
}
.categories__button{
	position: absolute;
	left: 160px;
	top: 350px;
}
.categories__button_link{
	border: 1px solid #3e3f43;
	border-radius: 4px;
	font-size: 18px;
	line-height: 25px;
	color: #3e3f43;
	padding: 7px 17px;
}
.categories__photo{
	margin: 0 auto 60px;
}
.categories__background-red{
	position: absolute;
	width: 300px;
	height: 400px;
	background: #F9BDBD;
	border-top-right-radius: 100px;
	border-bottom-left-radius: 100px;
	z-index: -1;
}
.categories__background-gray{
	position: absolute;
	width: 300px;
	height: 400px;
	background: #F7DEA6;
	border-top-right-radius: 100px;
	border-bottom-left-radius: 100px;
	z-index: -1;
}
.categories__background-blue{
	position: absolute;
	width: 300px;
	height: 400px;
	background: #A8DCEC;
	border-top-right-radius: 100px;
	border-bottom-left-radius: 100px;
	z-index: -1;
}
.categories__button_link:hover{
	color: #ffffff;
	border: 1px solid #ffffff;
}

/*SECTION-CATEGORIES*/
.section__testimony{
	height: 800px;
}

/*header*/
.testimony__header {
	display: inline-grid;
	grid-template-columns: repeat(4, auto);
}
.testimony__logo {
	margin: 35px 0 0 100px;
}
.testimony__text {
	font-size: 36px;
	font-weight: bold;
	line-height: 49px;
	margin: 25px 14px 0 9px;
}
.testimony__line {
	border: none;
	background-color: #000000;
	width: 240px;
	height: 1px;
	margin-top: 46px;
}
.testimony__title {
	font-size: 72px;
	line-height: 98px;
	color: rgba(34, 34, 34, 0.1);
	font-weight: 800;
}

/*main*/
.testimony__main{
	display: grid;
	grid-template-columns: repeat(3, auto);
	margin-left: 100px;
	margin-top: 65px;
	width: 384px;
}
.testimony__photo{
	border-top-left-radius: 100px;
	border-bottom-right-radius: 100px;
	margin-right: 40px;
}
.testimony__review{
	display: grid;
	grid-template-rows: repeat(3, auto);
	border: 1px solid #A8DCEC;
	border-top-right-radius: 100px;
	border-bottom-left-radius: 100px;
}
.testimony-review_stars{
	margin: 54px 0 16px 16px;
}
.testimony__review-text{
	height: 76px;
	width: 352px;
	font-size: 14px;
	line-height: 19px;
	margin: -50px 16px 0 16px;
	font-weight: bold;
}
.review__author{
	display: grid;
	grid-template-columns: repeat(2, auto);
	justify-content: start;
	margin-left: 16px;
	column-gap: 7px;
}
.testimony__author-photo{
	border-radius: 100%;
}
.author-name{
	margin-top: 5px;
	font-size: 12px;
	line-height: 16px;
	color: #AFAFAF;
}
.testimony__scroll{
	display: grid;
	grid-template-columns: repeat(2, auto);
	justify-content: space-between;
	margin-top: 21px;
}
.scroll_next{
	margin-left: 125px;
	margin-bottom: 23px;
	font-size: 14px;
	line-height: 19px;
}
.scroll_previous img{
	margin-top: 4px;
	margin-right: 8px;
}
.scroll_next img{
	margin-top: 4px;
	margin-left: 8px;
}
.scroll_previous{
	color: #C4C4C4;
	font-size: 14px;
	line-height: 19px;
}
.scroll_button{
	display: grid;
	grid-template-columns: repeat(4, auto);
}
.scroll_button_chose{
	width: 40px;
	height: 8px;
	background: #E5E5E5;
	border-radius: 8px;
	margin-right: 8px;
}
.scroll_button_chose-active{
	background: #DAA520;
}

	/*FOOTER*/

footer{
	width: 1152px;
	height: 455px;
	margin: 0 auto;
	position: relative;
}
.footer__background{
	display: grid;
	grid-template-columns: repeat(2, auto);
	position: absolute;
	z-index: -1;
}
.footer_background-photo1{
	z-index: -1;
}
.footer__subscribe{
	display: grid;
	grid-template-columns: repeat(2, auto);
}
.footer_background-photo2{
	z-index: -1;
}

.subscribe__text{
	width: 493px;
	margin-top: 53px;
	margin-left: 90px;
}
.subscribe__text_title{
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
}
.subscribe__text_subtitle{
	font-size: 16px;
	line-height: 22px;
}
.enter__bar{
	height: 40px;
	width: 355px;
	background: #ffffff;
	border: 1px solid #DAA520;
	border-radius: 4px;
	padding-left: 16px;
	font-size: 16px;
	line-height: 22px;
}
.subscribe_button{
	width: 120px;
	height: 40px;
	background: #DAA520;
	border-radius: 4px;
	color: #ffffff;
	font-size: 16px;
	line-height: 22px;
}

.footer__line{
	border: none;
	background-color: #C4C4C4;
	width: 708px;
	height: 1px;
	margin: 86px 0 24px 90px;
}
.footer__rows_container{
	display: grid;
	grid-template-columns: repeat(5, auto);
	margin: 0 0 45px 90px;
	justify-content: start;
	column-gap: 52px;
}
.row{
	display: grid;
	grid-template-rows: repeat(4, auto);
	grid-row-gap: 16px;
}
.woodies_2020{
	width: 104px;
	margin: 0 auto;
	font-size: 12px;
	line-height: 16px;
	color: #8D8D8D;

}
.footer__subscribe{
	background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255,0)100%);
}
form{
	margin: 67px 70px 0  0;
}
.light__text__style{
	font-size: 14px;
	line-height: 19px;
	color: #8D8D8D;
}
.normal__text__style{
	font-size: 18px;
	line-height: 25px;
	color: #333333;
}
.subscribe__button_link:hover {
	color: black;
}